*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --bg: #2b2b2b;
  --primary: #a259ff;
  --lightgray: #3b3b3b;
  --caption: #858584;
}

body {
  font-family: "Work Sans", sans-serif;
  color: var(--white);
  background-color: var(--bg);
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.section {
  padding: 80px 0px;
}
.section-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.2;
  text-transform: capitalize;
}
.section-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-top: 10px;
}
.section-title.large {
  font-weight: 600;
  font-size: 67px;
  line-height: 1.1;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-link-item {
  padding: 12px 20px;
  color: var(--white);
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
}
.btn {
  color: var(--white);
  display: inline-flex;
  gap: 12px;
  align-items: center;
  border-radius: 20px;
  line-height: 1.4;
  font-weight: 600;
  border: 2px solid transparent;
}
.btn.btn-white {
  padding: 20px 48px;
}
.btn-ico {
  width: 20px;
  height: 20px;
}
.btn.btn-primary {
  background-color: var(--primary);
  padding: 20px 28px;
}

/* MAIN */
/* Section-hero */
.hero-wrap {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.hero-content,
.hero-image {
  flex: 1;
}
.nft-image {
  position: relative;
  padding-top: 78.627%;
  background-color: #ccc;
}
.nft-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-content .section-subtitle {
  margin-top: 20px;
}
.hero-link .btn.btn-primary {
  padding: 20px 48px;
  margin-top: 30px;
}
.hero-statis {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}
.statis-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.statis-number {
  font-size: 700;
  font-size: 28px;
  line-height: 1.4;
  font-family: "Space Mono", monospace;
}
.statis-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
}

.hero-image {
  border-radius: 20px;
  overflow: hidden;
}
.nft-info {
  background-color: var(--lightgray);
  padding: 22px 20px;
}
.nft-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
}
.artist-card {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}
.artist-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.second-image-list {
  margin-top: 15px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.second-image-item {
  flex: 1;
}
.item-number {
  background-color: var(--primary);
  padding: 32.5px 16px;
  border-radius: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.6;
}
.primary-image {
  position: relative;
  padding-top: 100%;
  background-color: var(--caption);
  border-radius: 20px;
}
.primary-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection-card-item .nft-info {
  background-color: var(--bg);
  padding: unset;
  margin-top: 15px;
}
.collection-card-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.collection-card {
  margin-top: 60px;
}
.btn.btn-outline {
  border-color: var(--primary);
  padding: 20px 48px;
}
.toprate-headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.toprate-card {
  margin-top: 60px;
}
.artist-card-item {
  background-color: var(--lightgray);
  border-radius: 20px;
  text-align: center;
  position: relative;
  padding: 18px 20px 20px;
  width: calc((100% - 90px) / 4);
}
.artist-number {
  position: absolute;
  border-radius: 100%;
  background-color: var(--bg);
  color: var(--caption);
  padding: 4px 5px;
  top: 18px;
  left: 20px;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}
.artist-info {
  margin-top: 20px;
}
.artist-info-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  text-transform: capitalize;
}
.artist-info-text {
  margin-top: 5px;
}
.text-label {
  color: var(--caption);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.text-coin {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.artist-card-list {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.category-card-item {
  border-radius: 20px;
  overflow: hidden;
  width: calc((100% - 90px) / 4);
}
.category-card-text {
  padding: 20px 30px 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  background-color: var(--lightgray);
}
.category-card-list {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.category-card-image {
  position: relative;
  padding-top: 100%;
  background-color: var(--caption);
}
.category-card-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discover-headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.discover-info .nft-info {
  padding: unset;
}

.discover-card-item {
  border-radius: 20px;
  overflow: hidden;
  flex: 1;
}
.discover-image {
  position: relative;
  padding-top: 89.696%;
  background-color: var(--caption);
}

.discover-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discover-info {
  background-color: var(--lightgray);
  padding: 20px 30px 25px;
}
.discover-add-info {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover-propety {
  display: flex;
  flex-direction: column;
}
.propety-text {
  margin-top: 8px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.propety-label {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
}
.discover-propety.two {
  text-align: right;
}
.discover-propety.one {
  text-align: left;
}
.discover-card-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.word-card-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 48px;
}
.word-card-item {
  background-color: var(--lightgray);
  text-align: center;
  padding: 10px 30px 30px;
  flex: 1;
  border-radius: 20px;
}
.work-card-image {
  position: relative;
  padding-top: 100%;
}
.work-card-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work-card-content {
  margin-top: 20px;
}
.content-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
}
.content-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 10px;
}
.word-card-item.item02 {
  padding: 10px 30px 52px;
}
.section.section-propeties {
  padding-top: 40px;
}
.propeties-wrap {
  padding: 60px;
  background-color: var(--lightgray);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.propeties-image,
.propeties-content {
  flex: 1;
}
.propeties-link {
  margin-top: 40px;
}
.propeties-link .sub-form-join {
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  width: 100%;
  border-radius: 20px;
}
.sub-btn .btn.btn-primary {
  padding: 20px 48px;
}
.sub-form {
  position: relative;
  display: flex;
  align-items: center;
}
.sub-btn {
  position: absolute;
  right: 0;
}
.info-subitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #ccc;
}
.info-subitle.nft.top {
  margin-top: 30px;
}
.info-subitle.nft.down {
  margin-top: 20px;
}
.info_ico {
  margin-top: 15px;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--lightgray);
}
.footer-info {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
}
hr {
  margin-top: 30px;
}
.footer-last {
  margin-top: 20px;
  font-size: 12px;
  color: #ccc;
  line-height: 1.1;
}
.info1-text1 {
  margin-top: 30px;
  color: #ccc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.info1-text2 {
  margin-top: 25px;
  color: #ccc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.info1-icon {
  margin-top: 15px;
}
.info2-headline {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
}
.info2-text {
  margin-top: 20px;
  color: #ccc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.info2-text.top {
  margin-top: 25px;
}
.info3-text {
  margin-top: 25px;
  color: #ccc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.info1,
.info2 {
  flex: 1;
}
.section-counter img {
  height: 640px;
  width: 100%;
  object-fit: cover;
}
.bg-counter {
  position: relative;
}
.bg-counter::after {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
}
